@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=H4cyBXePl9DZ0Xe7gG9cyOj7uK2-n-D2rd4FY7SwqyWq847hdQ2Bc0AvB9cjWWQ&skey=37fe335b8fd815cc&v=v35) format('woff2');
  unicode-range: U+51cc, U+8303;
}
